* {
    margin: 0;
    padding: 0;
}
.banner{
    background-position: 95% 100%;
}
.banner .content h2{
    font-size: 3em;
    margin-bottom: 20px;
}

.contato{
    width: 100%;
    min-height: 100vh;
    padding-top: 20px;
}

.textBox h1{
    font-size: 2.3em;
    text-align: center;
}

.contato .form{
    position: relative;
    width: 65%;
    min-height: 400px;
    margin: 15px auto;
    padding: 40px;
    background: none;
}
.contato .form form label{
    font-family: consolas;
    font-size: 1.1em;
}
.contato .form label input,
.contato .form label textarea{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
}
.contato .form label span{
    content: '';
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
    background: #1E252B;
    height: 2px;
    width: 100%;
    z-index: 1;
}
.contato .form label input#mensg{
    height: 100px;
}
.contato .form input[type="submit"]{
    background: #1E252B;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1.2em;
    margin: 10px 0;
    border: npne;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.contato .form label textarea{
    width: 100%;
    height: 200px;
    box-shadow:none;
    outline: none;
    font-size: 18px;
    padding: 10px 10px;
    z-index: 1;
}


@media (max-width:500px){
    .contato .form{
        width: 87%;
    }
    .banner .content h2{
        font-size: 2em;
    }

    .textBox h1{
        font-size: 1.7em;
        text-align: center;
    }
    .contato .form{
        width: 100%;
        padding: 10px;
        /* background: red; */
    }
    .contato .form input[type="submit"]{
        padding: 8px 13px;
        font-size: 1em;
    }
    .contato .form label textarea{
        height: 150px;
    }

}