@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

::selection{
    background: #1D252B;
    color: #ddd;
}

:root{
    --azul: #40c3ff;
}

/* Cabecalho */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    display: none;
}

.banner{
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background-color: #262626;
    background-image: url('../img/bg-banner_1.webp');
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    z-index: 2;
}

.banner.active{
    transform: translateX(-400px);
    transition: 0.8s;
}

.shadow-banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.753);
    z-index: -1;
}

/* Menu mobile*/

#navigation{
    position: absolute;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #262626;
    z-index: 1;
    display: none;
    place-items: center;
    transform: scaleX(0);
}

#navigation.active{
    right: 0;
    transform: scaleX(1);
    /* transition: 0.5s; */
}

#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li{
    list-style: none;
    margin: 5px 0;
}

#navigation ul li a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}


/* Menu desktop */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation-desktop ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navigation-desktop ul li{
    list-style: none;
    margin-left: 27px;
}

#navigation-desktop ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
    position: relative;
}

#navigation-desktop ul li a::before{
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: var(--azul);
    transform: scaleX(0);
    transition: .15s;
    border-radius: 30px;
}

#navigation-desktop ul li a:hover::before{
    transform: scaleX(1);
}

#navigation-desktop ul li a:hover{
    color: var(--azul);
}




/* Inicio */

.content{
    max-width: 600px;
}
.content h2{
    color: #fff;
    font-size: 2.5em;
}
.content h2 span{
    /* color: #cf731de5; */
    color: var(--azul);
    font-size: 1.2em;
    text-shadow: 1px 1px 3px #000;
}
.content p{
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;
}
.content a:hover{
    color: #000;
    background-color: #fff;
}



/* Creditos */

.credito{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.credito p{
    font-family: consolas;
    color: #ffffffc5;
}
.credito p a{
    color: #ffffffc5;
}

.icon-credito{
    
    padding: 0;
    position: relative;
    /* right: 20px;
    bottom: 5px; */
    margin-top: 20px;
}
.icon-credito p{
    font-family: consolas;
    letter-spacing: 1px;
    color: #333333;
    font-size: 0.9em;
}
.icon-credito p a{
    color: #333333;
    width: 0;
    line-height: 0;
}

/* Configuração Do Sobre mim */

#landing{
    width: 100%;
    padding-top: 50px;
    /* margin-top: 50px; */
}

.imgBox{
    width: 250px;
    height: 250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    /* margin-top: 50px; */
}
.imgEu, .imgBox div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.imgBox div{
    position: absolute;
    background: rgba(0, 0, 0, 0.315);
    z-index: 10000;
}


.textBox{
    width: 80%;
    margin: 100px auto;
    color: #333333;
    font-family: consolas;
}

.textBox h1{
    font-size: 2em;
    margin-bottom: 7px;
}

.textBox p{
    font-size: 1.2em;
    text-indent: 40px;
    text-align: justify;
}
.textBox span{
    font-weight: 600;
    margin-left: 40px;
}

/* New configurações */

.container{
    width: 85%;
    margin: auto;
}

section .container h2.h2{
    font-family: 'Ubuntu', sans-serif;
}

#about{
    width: 100%;
    padding: 100px 0;
    background: #161618;
}
#about .container{
    padding: 30px 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .container h2.h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
}

#about .container p{
    font-size: 18px;
    letter-spacing: 1px;
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 27px;
    color: #ddd;
}

#about .container div.container-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#about .container div div{
    width: 50%;
}

#about .container div div.photo img{
    width: 60%;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

#about .container .btn-link{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#about .container .btn-link a{
    padding: 12px 22px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-weight: 500;
}

#about .container .btn-link a:hover{
    background: #fff;
    color: #161618;
    font-weight: 500;
}

.container-section-projects{
    width: 100%;
}

#projects{
    min-height: 600px;
    background: #fafafa;
    padding: 75px 0;
}

#projects .container h2.h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 30px;
}


#projects .container h2.h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 1px;
    background: #262626;
    left: 50%;
    transform: translateX(-50%);
}

#projects .container iframe{
    width: 100%;
    height: 100vh;
}

#projects .container .linkBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects .container .linkBox a{
    text-decoration: none;
    color: #262626;
    padding: 10px 35px;
    border: 2px solid #262626;
    font-size: 20px;
}

#projects .container .linkBox a:hover{
    background: #262626;
    border-color: #262626;
    color: #fff;
    box-shadow: 0 0 20px #262626;
}

#skills{
    background: #fff;
    color: #262626;
    min-height: 600px;
    padding: 75px 0;
}

#skills h2.h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 30px;
}

#skills .container h2.h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 1px;
    background: #262626;
    left: 50%;
    transform: translateX(-50%);
}

#skills .grid-skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 30px;
    margin-top: 75px;
}

#skills .grid-skills-container .skill{
    /* background: red; */
    /* width: 200px;
    height: px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    /* background: red; */
}

.skill .icon-skill{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    background: var(--azul);
    color: #fff;
    display: grid;
    place-items: center;
}

.skill .icon-skill i{
    font-size: 50px;
}

.skill .text-skill h2{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #262626;
    margin-top: 10px;
}

#hand{
    display: none;
}

/* Configurações dos icones */

.sci{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px 0 0;
}

.sci li a i{
    font-size: 40px;
    color: #ddd;
}

.sci li a i:hover{
    color: #fff;
}

/* Footer */

footer{
    position: relative;
    width: 100%;
    padding: 30px 0;
    font-size: 18px;
    background: #333;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .container p{
    color: #fff;
    margin-top: 10px;
}



.social{
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social a{
    text-decoration: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s;
    position: relative;
    border-radius: 10px;
    margin: 0 5px;
}

.social a:hover{
    transform: translateY(-7px);
}

.social a i{
    font-size: 30px;
    transition: .6s;
}


@media (max-width:780px){
    header{
        padding: 20px 20px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.8em;
    }

    .banner .content p, .content a{
        font-size: 1em;
    }

    .content p{
        text-align: left;
    }

    .content a{
        font-size: 0.9em;
        font-weight: 500;
        padding: 8px 15px;
    }

    #call-to-project{
        flex-direction: column;
        padding: 50px 20px ;
    }
    #call-to-project h1{
        width: 100%;
        font-size: 25px;
        text-align: center;
        margin-bottom: 30px;
    }
    #call-to-project a{
        padding: 10px 25px;
        font-size: 18px;
    }

    .banner.active{
        transform: translateX(-225px);
    }
    
    header .logo{
        
        display: block;
    }

    header #toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    header #toggle:before{
        content: '';
        position: absolute;
        top: 7px;
        width: 100%;
        height: 2px;
        background: #fff;
    }
    
    header #toggle:after{
        content: '';
        position: absolute;
        bottom: 7px;
        width: 100%;
        height: 2px;
        background: #fff;
    }
    
    .banner.active header #toggle:before{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .banner.active header #toggle:after{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    #navigation-desktop{
        display: none;
    }

    #navigation{
        width: 225px;
        display: grid;
    }
    #navigation ul li a{
        font-size: 1.5em;
        /* margin: 5px 0; */
    }

    .credito p{
        font-size: 13px;
    }

    .icon-credito{
        font-size: 0.8em;
    }

    .textBox{
        width: 87%;
    }

    .textBox h1{
        font-size: 1.7em;
    }
    .textBox p{
        font-size: 1.1em;
        text-align: left;
    }
    
    .sci{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 10px;
    }

    
    .sci li a i{
        font-size: 34px;
    }

    .form{
        width: 87%;
    }

    /* New configuration */


    #about .container{
        width: 100%;
        padding: 0 20px;
    }

    #about .container div div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .container div .about-text{
        text-align: center;
        margin-top: 20px;
        
    }

    #about .container div .about-text h2{
        font-size: 25px;
    }

    #about .container div .about-text p{
        font-size: 17px;
        text-indent: unset;
    }

    #about .container div.container-about{
        flex-direction: column;
    }

    #projects .container h2.h2{
        font-size: 30px;
    }

    #skills{
        min-height: 400px;
    }

    #skills .container h2.h2{
        font-size: 30px;
    }

    #skills .container h2.h2::before{
        width: 40%;
    }

    #skills .grid-skills-container{
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        flex-shrink: unset;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }

    #skills .grid-skills-container .skill{
        margin: 0 20px;
    }

    .skill .icon-skill{
        width: 90px;
        height: 90px;
    }

    .skill .icon-skill i{
        font-size: 40px;
    }

    .skill .text-skill h2{
        font-size: 25px;
    }

    #hand{
        display: block;
        width: 100%;
        margin-top: 40px;
        position: relative;
    }

    #hand i{
        position: absolute;
        right: 0;
        font-size: 40px;
        /* animation: animate-hand 2.5s linear infinite; */
        /* transition: .5s; */
    }

    @keyframes animate-hand{
        0%{
            
            right: 0;
        }

        20%{
            
            right: 20%;
            transform: translateX(-20%);
        }

        40%{
            right: 40%;
            transform: translateX(-40%);
        }

        60%{
            right: 60%;
            transform: translateX(-60%);
        }

        80%{
            right: 80%;
            transform: translateX(-80%);
        }

        100%{
            
            right: 110%;
            transform: translateX(-110%);
        }
    }

    @media (max-width:400px){

        header .logo{
            font-size: 1.3em;
        }
        .banner{
            padding: 20px;
            background-position: 0 100%;
        }
        .banner h2{
            font-size: 1.3em;
        }
        .banner h2 span{
            font-size: 1.5em;
        }
        .banner h2 br{
            content: " ";
        }
        .banner .content{
            width: 100%;
        }
        .sci li a{
            width: 40px;
            height: 40px;
        }
        .sci li a img{
            max-width: 25px;
        }
    }
}