@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection{
    background: #1D252B;
    color: #ddd;
}

/* Cabecalho */

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}


.banner{
    position: relative;
    width: 100%;
    padding: 100px;
    min-height: 100vh;
    background-image: url('../img/bg.webp');
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    align-items: center;
    z-index: 2;
}

.banner.active{
    transform: translateX(-400px);
    transition: 0.8s;
}

/* Menu */

#navigation{
    position: absolute;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #cf731d;
    z-index: 1;
    display: grid;
    place-items: center;
    transform: scaleX(0);
}

#navigation.active{
    right: 0;
    transform: scaleX(1);
    /* transition: 0.5s; */
}

#navigation ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#navigation ul li{
    list-style: none;
}

#navigation ul li a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
}

/* Inicio */

.content{
    max-width: 600px;
}
.content h2{
    color: #fff;
    font-size: 2.5em;
}
.content h2 span{
    color: #cf731de5;
    font-size: 1.2em;
    text-shadow: 1px 1px 3px #000;
}
.content p{
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000;
}
.content a{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background-color: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

/* Creditos */

.credito{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
.credito p{
    font-family: consolas;
    color: #ffffffc5;
}
.credito p a{
    color: #ffffffc5;
}

.icon-credito{
    
    padding: 0;
    position: relative;
    /* right: 20px;
    bottom: 5px; */
    margin-top: 20px;
}
.icon-credito p{
    font-family: consolas;
    letter-spacing: 1px;
    color: #333333;
    font-size: 0.9em;
}
.icon-credito p a{
    color: #333333;
    width: 0;
    line-height: 0;
}

/* Configuração Do Sobre mim */

#about{
    width: 100%;
    padding-top: 50px;
}

.textBox{
    width: 65%;
    margin: 40px auto;
    color: #333333;
    font-family: consolas;
}

.textBox h1{
    font-size: 2em;
    margin-bottom: 7px;
}

.textBox p{
    font-size: 1.2em;
    text-indent: 40px;
    text-align: justify;
}
.textBox span{
    font-weight: 600;
    margin-left: 40px;
}

/* Configurações dos icones */

.sci{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li{
    list-style: none;
}
.sci li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}
.sci li a:hover{
    background-color: #fff;
}
.sci li a img{
    max-width: 35px;
    filter: invert();
    mix-blend-mode: difference;
}

/* Footer */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    margin-top: 100px;
}    
footer a{
    color: #333333;
    margin: 0 10px;
    line-height: 60px;
    width: 60px;
}
footer a:hover{
    color: #d67315;
}

@media (max-width:767px){
    header{
        padding: 20px 20px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2{
        font-size: 1.8em;
    }

    .banner .content p, .content a{
        font-size: 1em;
    }

    .content a{
        font-size: 0.9em;
        font-weight: 500;
        padding: 8px 15px;
    }

    .banner.active{
        transform: translateX(-225px);
    }
    #navigation{
        width: 225px;
    }
    #navigation ul li a{
        font-size: 1.5em;
        margin: 5px 0;
    }

    .credito p{
        font-size: 13px;
    }

    .icon-credito{
        font-size: 0.8em;
    }

    .textBox{
        width: 87%;
    }

    .textBox h1{
        font-size: 1.7em;
    }
    .textBox p{
        font-size: 1.1em;
    }
    
    .sci{
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a{
        margin: initial;
        margin-right: 10px;
    }
    .form{
        width: 87%;
    }

    @media (max-width:400px){

        header .logo{
            font-size: 1.3em;
        }
        .banner{
            padding: 20px;
        }
        .banner h2{
            font-size: 1.3em;
        }
        .banner h2 span{
            font-size: 1.5em;
        }
        .banner h2 br{
            content: " ";
        }
        .banner .content{
            width: 100%;
        }
        .sci li a{
            width: 40px;
            height: 40px;
        }
        .sci li a img{
            max-width: 25px;
        }
    }
}