.projects .container .box.site-isabela{
    background: url('../img/site-isabela.png') no-repeat;
    background-size: cover;
    /* margin: auto; */
}

.projects .container .box.ecoleta{
    background: url('../projects/images/capa.png');
    background-size: cover;
    background-position: center;
    /* margin: auto; */
}

.projects .container .box.rosana{
    background: url('../projects/Rosana-Calmon/images/22.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: auto; */
}