/* header .logo, header #navigation-desktop ul li a{
    color: #000;
} */

header{
    background: #262626;
    padding: 25px 100px;
}

.banner{
    min-height: 0px;
    padding: 0;
}

.banner.active{
    transform: none;
}

#navigation{
    transition: .5s;
}

.textBox .grid-cursos-me{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.textBox .grid-cursos-me .box-cursos-me{
    background: blue;
    min-height: 200px;
}

@media (max-width:780px){
    header{
        padding: 20px 20px;
    }

    header #toggle{
        position: relative;
        
    }
    

}