/* header .logo, header #navigation-desktop ul li a{
    color: #000;
} */

header{
    background: #262626;
    padding: 25px 100px;
}

.banner{
    min-height: 0px;
    padding: 0;
}

.banner.active{
    transform: none;
}

#navigation{
    transition: .5s;
}

@media (max-width:780px){
    header{
        padding: 20px 20px;
    }

    header #toggle{
        position: relative;
        
    }
    

}