@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #262626;
}
h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.content{
    width: 85%;
    padding: 30px;
    position: relative;
}

.content .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    padding: 15px;
    margin-top: 50px;
}

.content .text h1{
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
}

.content .text h2{
    margin-top: 15px;
    margin-bottom: 5px;
}

.content .text p{
    display: inline-block;
    font-size: 1.1em;
    width: 75%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-indent: 35px;
    color: #262626d3;
}

.content .text a{
    display: inline-block;
    background: blue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 15px;
}

.arrow-down{
}

/* Swipper */

.sliderBox{
    display: block;
    float: right;
    right: 0;
    width: 50%;
    height: 90vh;
}

.swiper-container {
width: 100%;
height: 100%;

}
.swiper-slide {
background-position: 50% 0;
background-size: cover;
}


@media (max-width:900px){
    .content{
        width: 100%;
        padding: 0 20px;
    }
    .content .text{
        position: relative;
        width: 100%;
        padding: 0;
        margin-bottom: 150px;
    }

    .content .text h1{
        font-size: 2em;
    }

    .content .text p{
        width: 90%;
    }

    .sliderBox{
        width: 100%;
        /* transform: translateY(-100px); */
    }
}