@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #262626;
}
h1, h2, h3{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn-back{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn-back:hover{
    text-decoration: underline;
}

.content{
    width: 85%;
    padding: 30px;
    position: relative;
}

.content .text{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: auto;
    padding: 15px;
    margin-top: 50px;
}

.content .text h1{
    font-size: 2.5em;
    margin-bottom: 15px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
}

.content .text h2{
    margin-top: 30px;
    margin-bottom: 10px;
}

.content .text p{
    display: inline-block;
    font-size: 1.1em;
    width: 75%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-indent: 35px;
    color: #262626d3;
}

.content .text a{
    display: inline-block;
    background: blue;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-top: 70px;
    padding: 10px 15px;
    border-radius: 2px;
}

.content .text a.linkPlus{
    background: transparent;
    margin-left: 10px;
    color: #0000ff;
}
.content .text a.linkPlus i{
    color: #0000ff;
}


.content .text ul{
    transform: translateX(40px);
}

.content .text ul li{
    line-height: 30px;
}

/* Swipper */

.sliderBox{
    display: block;
    float: right;
    right: 0;
    width: 50%;
    height: 90vh;
}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
}

.swiper-wrapper{
    position: relative;
}

.swiper-slide {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.contain {
    background-size: contain;
    
}

.cover{
    background-size: cover;
}

@media (max-width:900px){
    .btn-back{
       position: absolute;
       top: 0;
       left: 10px;
    }

    .content{
        width: 100%;
        padding: 0 20px;
    }
    .content .text{
        position: relative;
        width: 100%;
        padding: 0;
        margin-bottom: 150px;
    }

    .content .text h1{
        font-size: 2em;
    }

    .content .text p{
        width: 90%;
    }

    .sliderBox{
        width: 100%;
        /* transform: translateY(-100px); */
    }

    .swiper-wrapper{
        width: 100%;
    }
    .swiper-slide{
        width: 100%;
    }
}